@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Variables
$text: #485360;
$link: #FFF;
$green: #05C46B;
$red: #F53B57;
$grey: #485360;
$darkgrey: #1E272E;

@font-face {
    font-family: 'Raleway', 'Arial';
}

body {
    font-size: 1.5rem;
    background-color: $darkgrey;
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
}
