.list {
    min-width: 200px;
    max-width: 100%;
    padding: 0;

    .item {
        padding: 20px;
        margin: 20px 0;
        background-color: $green;
        display: flex;
        justify-content: space-between;

        p {
                margin: 0;
                padding: 0;
        }

        &.special {
            background-color: $red;
        }
    }
}
