.section {
    width: 100vw;
    height: 110vh;

    display: flex;
    justify-content: center;
    align-items: center;

    &:first-of-type {
        height: 100vh;
    }

    .content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 75%;
        max-width: 800px;

        img {
            max-width: 50%;
        }

        .block {
            position: relative;
            max-width: 1000px;
        }
    }

    &#start {
        background-color: $red;
    }

    &#about {
        background-color: $darkgrey;
    }

    &#projects {
        background-color: white;
        color: $darkgrey;
    }

    &#information {
        background-color: $green;
    }
}


@media only screen and (max-width: 768px) {
    .section {
        .content {
            width: 100%;
            display: block;
            padding: 20px;

            img {
                max-width: 60%;
            }
        }
    }
}
