.section {
    width: 100vw;
    height: 110vh;

    display: flex;
    justify-content: center;
    align-items: center;

    &:first-of-type {
        height: 100vh;
    }

    .content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 800px;

        img {
            max-width: 50%;
        }

        .block {
            position: relative;
            max-width: 1000px;
        }
    }

    .showcase {
        overflow: auto;
        white-space: nowrap;
        width: 100vw;
        position: relative;
        margin-left: -50vw;
        margin-top: 20px;
        padding-bottom: 10px;
        left: 50%;

        .project {
            display: inline;
            text-align: center;
            margin: 0 30px;
            transition-duration: 0.2s;

            &:hover {
                filter: brightness(0.5);
                transition-duration: 0.5s;
            }

            img {
                width: 100%;
                cursor: pointer;
            }
        }
    }

    &#start {
        background-color: $red;
    }

    &#about {
        background-color: $darkgrey;
    }

    &#projects {
        background-color: white;
        color: $darkgrey;
    }

    &#information {
        background-color: $green;
    }
}


@media only screen and (max-width: 768px) {
    .section {
        .content {
            width: 100%;
            display: block;
            padding: 20px;

            img {
                max-width: 60%;
            }

            .showcase {
                margin: 0;
            }
        }
    }
}
