@font-face {
  font-family: "Raleway", "Arial";
}

body {
  font-size: 1.5rem;
  background-color: #1E272E;
  color: white;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
  /* make scrollbar transparent */
}

.section {
  width: 100vw;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section:first-of-type {
  height: 100vh;
}

.section .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section .content img {
  max-width: 50%;
}

.section .content .block {
  position: relative;
  max-width: 1000px;
}

.section .showcase {
  cursor: -webkit-grab;
  cursor: grab;
  overflow: auto;
  white-space: nowrap;
  max-width: 100vw;
  position: relative;
  margin-left: -50vw;
  padding: 40px 0;
  left: 50%;
}

.section .showcase .project {
  display: inline;
  text-align: center;
  margin: 0 30px;
  transition-duration: 0.2s;
}

.section .showcase .project:hover {
  filter: brightness(0.5);
  transition-duration: 0.5s;
}

.section .showcase .project img {
  width: 100%;
  cursor: pointer;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
}

.section#start {
  background-color: #05C46B;
}

.section#start .content {
  width: 80%;
  max-width: 800px;
}

.section#about {
  background-color: #1E272E;
}

.section#projects {
  background-color: white;
  color: #1E272E;
}

.section#projects .content {
  max-width: 100vw;
}

.section#information {
  background-color: #F53B57;
}

.section#game {
  background-color: #1E272E;
}

.section#games {
  background-color: #05C46B;
}

.section#description {
  background-color: #F53B57;
}

.section#info {
  background-color: #05C46B;
}

@media only screen and (max-width: 768px) {
  .section .content {
    width: calc(100% - 40px);
    display: block;
    padding: 20px;
  }

  .section .content img {
    max-width: 60%;
  }

  .section .content .showcase {
    left: 0;
    margin: 0 -20px;
  }
}

h1,
h2,
h3 {
  font-family: "Raleway", Arial, sans-serif;
  cursor: default;
}

h4,
h5,
h6,
p,
a,
li,
label,
small {
  font-family: "Roboto", Arial, sans-serif;
  cursor: default;
}

.big {
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 0;
}

.small {
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0;
}

.list {
  list-style: none;
}

.light {
  color: #FFFFFF;
}

.light:hover {
  color: #b3b3b3;
}

.dark {
  color: #1E272E;
}

.dark:hover {
  color: #5a768b;
}

.link {
  color: #1E272E;
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.2s;
}

.link:hover {
  text-decoration: underline;
  transition-duration: 0.2s;
}

.link.colour {
  color: #F53B57;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 1em;
  }

  .big {
    font-size: 3em;
    margin-top: 0;
  }
}

.center {
  justify-content: center;
}

.center-text {
  text-align: center;
}

.hidden {
  display: none;
}

.divider {
  width: 2px;
  height: 30vh;
  background-color: #b3b3b3;
}

@media only screen and (max-width: 768px) {
  .divider {
    display: none;
  }
}

.list {
  min-width: 200px;
  max-width: 100%;
  padding: 0;
}

.list .item {
  padding: 20px;
  margin: 20px 0;
  background-color: #05C46B;
  display: flex;
  justify-content: space-between;
}

.list .item p {
  margin: 0;
  padding: 0;
}

.list .item.special {
  background-color: #F53B57;
}

.group {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition-duration: 0.4s;
}

.group input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  transition-duration: 0.4s;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  transition-duration: 0.4s;
}

.group:hover input[type=checkbox] ~ .checkmark {
  background-color: #F53B57;
  transition-duration: 0.4s;
}

.group input[type=checkbox]:checked ~ .checkmark {
  background-color: #F53B57;
  transition-duration: 0.4s;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  transition-duration: 0.4s;
}

.group input[type=checkbox]:checked ~ .checkmark:after {
  display: block;
  transition-duration: 0.4s;
}

.group .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  transition-duration: 0.4s;
}

.input,
.textarea {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 0.8em;
  display: inline-block;
  box-sizing: border-box;
  background-color: #1E272E;
  max-width: 750px;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #FFFFFF;
  border-radius: 2px;
  transition-duration: 0.4s;
  -webkit-text-fill-color: #F53B57;
  /* Caret */
  color: #05C46B;
  text-shadow: 0 0 0 #FFF;
}

.input:hover,
.input:focus,
.textarea:hover,
.textarea:focus {
  outline: none;
  border-bottom: 2px solid #F53B57;
  transition-duration: 0.4s;
}

.input::-moz-placeholder, .textarea::-moz-placeholder {
  -webkit-text-fill-color: #b3b3b3;
}

.input:-ms-input-placeholder, .textarea:-ms-input-placeholder {
  -webkit-text-fill-color: #b3b3b3;
}

.input::placeholder,
.textarea::placeholder {
  -webkit-text-fill-color: #b3b3b3;
}

.submit {
  color: #FFFFFF;
  font-weight: bolder;
  background-color: #1E272E;
  border: 2px solid #F53B57;
  padding: 10px;
  margin: 15px 0;
  border-radius: 2px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.submit:hover {
  background-color: #05C46B;
  border: 2px solid #05C46B;
  color: #FFFFFF;
  transition-duration: 0.2s;
}

.submit:focus {
  border: 2px solid #05C46B;
  color: #FFFFFF;
  transition-duration: 0.2s;
}

.label {
  margin: 10px;
}

.label.tiny {
  font-size: 0.5em;
}

#alert {
  display: none;
  padding: 0 10px;
  font-size: 0.8em;
  font-style: italic;
  border: #05C46B solid 3px;
  background-color: rgba(5, 196, 107, 0.7);
}

#alert p {
  opacity: 1;
}

.policy {
  padding: 30px 100px;
}

.policy a {
  color: #05C46B;
  text-decoration: none;
  cursor: pointer;
}

.policy a:hover {
  color: #06f686;
  text-decoration: underline;
}

.policy i {
  color: #F53B57;
}

