// Variables
$text: #485360
$link: #FFF
$green: #05C46B
$red: #F53B57
$grey: #485360
$darkgrey: #1E272E

@font-face
  font-family: Raleway
  src: url('../font/Raleway-Medium.ttf'), url('../font/Raleway-MediumItalic.ttf'), url('../font/Raleway-Regular.ttf')

// Default values
body
    font-family: 'Raleway', sans-serif !important
    font-size: 12px !important
    width: 100vw !important

h1
    font-size: 3em
    margin-bottom: 0px !important

p
    font-size: 1.2rem

a
    font-size: 1.2rem
    color: $grey !important
    text-decoration: none !important

hr
    height: 3px
    border-radius: 100%
    background-color: $red !important

.small-text
    font-size: 1rem

.grey
    color: $grey !important
    text-decoration: none !important

.darkgrey
    color: $darkgrey !important

.green
    color: $green !important

.red
    color: $red !important

.white
    background-color: #FFF
    padding: 20px 40px

.background
    padding: 20px 0 !important

    .center
        text-align: center
