.board {
    height: calc(100vh - 150px);
    width: calc(100vw - 60px);
    background-color: white;
    padding: 130px 30px 0;
    margin: 0;
    overflow-y: scroll;
    color: $darkgrey;

    .messages {
        width: 100%;

        .message {
            padding: 2px 15px;
            margin: 50px 0;
        }
    }
}

.input-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    height: 100px;
    width: calc(100vw - 20px);
    padding: 20px;
    background-color: $darkgrey;

    .input {
        max-width: 1200px;
        min-width: 50vw;
    }
}

@media only screen and (max-width: 768px) {
    .board {
        width: calc(100vw - 30px);
        padding-right: 15px;
        padding-left: 15px;
    }
}
