.policy {
    padding: 30px 100px;

    a {
        color: $green;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: lighten($green, 10%);
            text-decoration: underline;
        }
    }

    i {
        color: $red;
    }
}
