$orange: #e67e22;
$purple: #9b59b6;

.status {
    font-weight: bold;
    text-decoration: underline;
    &.online {
        color: $green;
    }

    &.down {
        color: $red;
    }
}

.hostname {
    color: $purple;
}

.ping {
    &.good {
        color: $green;
    }

    &.average {
        color: $orange;
    }

    &.poor {
        color: $red;
    }
}

.players {
    &.empty {
        color: $darkgrey;
    }

    &.low {
        color: $green;
    }

    &.average {
        color: $orange
    }

    &.full {
        color: $red;
    }
}

.motd {
    background-color: $darkgrey;
    color: white;
    padding: 2px 7px;
}

.server {
    &.error {
        text-transform: lowercase;
        color: $red;
    }
}
